@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --cor1: white;
    --cor2: black;

    --font-padrao: 'Passion One', cursive;
    --font-destaque: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--font-padrao);
    font-size: 10vw;
    text-align: center;
    color: white;
}

header > p {
    padding-bottom: 50px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

header > p > a {
    color: white;
    text-decoration: none;
    font-family: var(--font-padrao);
    font-size: 16px;
    font-weight: 700;
}

section#imagem01 {
    position: relative;
    
    min-height: 80vh;
    background: url('../imagens/background001.jpg') right center no-repeat fixed;
    background-color: black;
    background-size: cover;
}

section#imagem02 {
    position: relative;

    min-height: 80vh;
    background: url('../imagens/background002.jpg') right center no-repeat fixed;
    background-color: black;
    background-size: cover;
}

.poema  {
    font-family: var(--font-destaque);
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 7%;
}

.poema > p {
    font-size: 3vw;
    padding-top: 20px;
}

section.imagem > p {
    position: absolute;
    top:20%;
    left: 7%;
    display: inline-block;
    font-family: var(--font-destaque);
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    padding: 5px;
    font-size: 3vw;
    text-shadow: 1px 1px 2px black;	
 }

footer {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px 0px;
}

footer > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
